#Q1

In [1]:
import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
#sort the list and find the min and max ages
ages.sort()
print("Sorted list",ages)
Min=min(ages)
Max=max(ages)
print("Min ages:",Min,"\n","Max ages:",Max)
#Add the min age and the max age again to the list
ages.append(Min)
ages.append(Max)
print("After adding min & max:",ages)
#Find the median age
Median=statistics.median(ages)
print("Median of ages:",Median)
#Find the average age
Sum=sum(ages);
Length=len(ages);
Average=Sum/Length;
print("Average age:",Average)
#Find the range of the ages
Range=Max-Min;
print("Range:",Range);

Sorted list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min ages: 19
 Max ages: 26
After adding min & max: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of ages: 24.0
Average age: 22.75
Range: 7

# Q2

In [2]:
#Create an empty dictionary called dog
Dog={}
#Add name, color, breed, legs, age to the dog dictionary
Dog.update({'Name':'Sophie','Color':'Black','Breed':'Poodle','Legs':'Four','Age':7})
#Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
Student={'first_name':'Haripriya','last_name':'Eddala','gender':'Female','age':24,'marital status':'Unmarried',
        'skills':["My SQL","HTML","Java Script"],'country':'India','city':'Chittoor','address':'Kapukandriga,pullur,chittoor-517167'}
#Get the length of the student dictionary
print("Length:",len(Student))
#Get the value of skills and check the data type, it should be a list\
print("student skills:",Student['skills'])
print("Datatype of skills:",type(Student['skills']))
#Modify the skills values by adding one or two skills
Student['skills'].extend(["bootstrap","C++"])
print("Modified skills:",Student['skills'])
#Get the dictionary keys as a list
print("Dictionary keys:",list(Student.keys()))
#Get the dictionary values as a list
print("Dictionary values:",list(Student.values()))

Length: 9
student skills: ['My SQL', 'HTML', 'Java Script']
Datatype of skills: <class 'list'>
Modified skills: ['My SQL', 'HTML', 'Java Script', 'bootstrap', 'C++']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Haripriya', 'Eddala', 'Female', 24, 'Unmarried', ['My SQL', 'HTML', 'Java Script', 'bootstrap', 'C++'], 'India', 'Chittoor', 'Kapukandriga,pullur,chittoor-517167']

# Q3

In [3]:
#Create a tuple containing names of your sisters and your brothers
Sisters=("Mouni","Sireesha","Deepthi","Harshi")
Brothers=("Srikanth","Jagadesh","Sai","Vishnu","Kittu")
print("Sisters:",Sisters)
print("Brothers:",Brothers)
#Join brothers and sisters tuples and assign it to siblings
Siblings=Sisters+Brothers
print("Siblings:",Siblings)
#How many siblings do you have?
Count=len(Siblings)
print("Siblings count:",Count)
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
Mother="Indhira"
Father="Hariprasad"
family_members=list(Siblings)
family_members.append(Father)
family_members.append(Mother)
family_members=tuple(family_members)
print("family_members",family_members)

Sisters: ('Mouni', 'Sireesha', 'Deepthi', 'Harshi')
Brothers: ('Srikanth', 'Jagadesh', 'Sai', 'Vishnu', 'Kittu')
Siblings: ('Mouni', 'Sireesha', 'Deepthi', 'Harshi', 'Srikanth', 'Jagadesh', 'Sai', 'Vishnu', 'Kittu')
Siblings count: 9
family_members ('Mouni', 'Sireesha', 'Deepthi', 'Harshi', 'Srikanth', 'Jagadesh', 'Sai', 'Vishnu', 'Kittu', 'Hariprasad', 'Indhira')

# Q4

In [4]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#Find the length of the set it_companies
print("Lenth",len(IT_companies))
#Add 'Twitter' to it_companies
IT_companies.add("Twitter")
print(IT_companies)
#Insert multiple IT companies at once to the set it_companies
Multiple_IT_companies=["Mphasis","Infosys","cognizant"]
IT_companies.update(Multiple_IT_companies)
print(IT_companies)
#Remove one of the companies from the set it_companies
IT_companies.remove("Infosys")
print(IT_companies)
#What is the difference between remove and discard
#Remove:If the item to remove does not exist,remove() will raise an error
#Discard:If the item to remove does not exist,remove() will NOT raise an error
#Join A and B
C=A.union(B)
print("Join A and B",C)
#Find A intersection B
D=A.intersection(B)
print("A intersection B",D)
#Is A subset of B
E=A.issubset(B)
print("A subset of B",E)
#Are A and B disjoint sets
F=A.isdisjoint(B)
print(" A and B disjoint sets",F)
#Join A with B and B with A
G=B.union(A)
print("Join A with B",C,"and Join B with A",G)
#What is the symmetric difference between A and B
H=A.symmetric_difference(B)
print("symmetric",H)
#Delete the sets completely
del A,B
#Convert the ages to a set and compare the length of the list and the set.
I=set(age)
print("Length of list and set is same:",len(I)==len(age))

Lenth 7
{'Facebook', 'Oracle', 'Twitter', 'Amazon', 'Apple', 'IBM', 'Google', 'Microsoft'}
{'Apple', 'Google', 'Twitter', 'Amazon', 'cognizant', 'IBM', 'Facebook', 'Oracle', 'Infosys', 'Mphasis', 'Microsoft'}
{'Apple', 'Google', 'Twitter', 'Amazon', 'cognizant', 'IBM', 'Facebook', 'Oracle', 'Mphasis', 'Microsoft'}
Join A and B {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B {19, 20, 22, 24, 25, 26}
A subset of B True
 A and B disjoint sets False
Join A with B {19, 20, 22, 24, 25, 26, 27, 28} and Join B with A {19, 20, 22, 24, 25, 26, 27, 28}
symmetric {27, 28}
Length of list and set is same: False

# Q5

In [5]:
import math

constant = math.pi
radius=30

#Calculate the area of a circle
Area = constant*radius*radius
print("Area:",Area)

#Circumference Finding
circumference= 2 * constant * radius
print("Circumference :",circumference)

#taking input (dynamically)
new_radius = float(input("Enter the radius value: "))
Area = constant * new_radius * new_radius

print("for given radius = ",new_radius,"\nArea :",Area)

Area: 2827.4333882308138
Circumference : 188.49555921538757
Enter the radius value: 23
for given radius =  23.0
Area : 1661.9025137490005

# Q6

In [6]:
sentence = "I am a teacher and I love to inspire and teach people"

#splitting the string for getting the individual elements
Split = sentence.split(" ")
sp_set = set(Split)
print("Set: ",sp_set)
print("Number of unique words: ",len(sp_set))

Set:  {'teach', 'am', 'and', 'people', 'to', 'I', 'inspire', 'love', 'a', 'teacher'}
Number of unique words:  10

# Q7

In [3]:
print("Name\t\tAge\t\tCountry\t\tCity\t\nAsabeneh\t250\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

# Q8

In [8]:
radius = 10
area = int(3.14 * radius ** 2)

#sting formating
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  
print(formatted_area)

The area of circle with radius 10 is 314 meters square.

# Q9

In [1]:
 #Dynamically taking the input
n = input('Enter the length:')
lbs=n.split()

# creating two lists one for lbs and other for kgs
kgs = []
for i in lbs:
    kgs.append((int(i)*0.45));
print(kgs)

Enter the length:150
[67.5]

# Q10